.featured{
    background-color: #F6F7FB;
}

.list-img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    object-position: center;
}

.featured-head{
    font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* pink */

color: #111C85;
}

.featured-para{
    font-family: 'Josefin Sans';
font-size: 14px;
line-height: 16px;

color: #151875;
}

.checked {
    color: orange;
  }

.list-para{
    color: #9295AA;
}

.list-icon{
    margin-right: 30px;
}